* {
    font-family: 'Roboto Condensed', sans-serif;
    transition: all .5s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    scroll-behavior: smooth;
    overflow-x: clip;
}

section {
    scroll-margin-top: 2rem;
    margin-top: 50px;
}

.introduction {
    margin-top: 85px;
}

h1 {
    font-size: 49px;
    letter-spacing: 2px;
    text-align: center;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #8080805e;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 10000;
}

.jumbotron > a > h1 {
    font-size: 26px;
    letter-spacing: 2px;
    margin: 0;
    margin-left: 10px;
}

.name {
    text-decoration: none;
    color: black;
    text-decoration: none;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    color: black;
}

.j-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 1;
    visibility: visible;
    transition: none;
}

.j-buttons > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.j-button {
    width: 52px;
    margin: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.j-button:hover {
    letter-spacing: 0.7px;
    -webkit-text-stroke: 0.5px black;
    -webkit-text-fill-color: transparent;
    transform: scale(1.08);
}

.jumbotron > h1, .j-buttons {
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper {
    margin-bottom: 0px!important;
    margin: 40px;
    perspective: 10px;
}

@media only screen and (max-width: 480px) {
    .wrapper {
        margin: 20px;
        margin-bottom: 0;
    }
    .intro-text > h1, .dynamic-txts {
        transform: scale(0.
        );
    }
    .dynamic-txts > li {
        font-size: calc(50px * 0.7)!important;
    }
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picture-card {
    width: 100%;
    max-width: 310px;
    height: 395px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.picture-card > img {
    height: 100%;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills > .s-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillz {
    
height: 100%;
    
width: 100%;

display: flex;
    
align-items: center;
    
justify-content: space-evenly;
}

.skills1 {
    position: relative;
    top: -36px;
    /* left: -76px; */
}

.skills2 {
    text-align: end;
    position: relative;
    /* right: -87px; */
    bottom: -37px;
}

.skills1 > p {
    left: -800px;
    position: relative;
    transition: left .4s cubic-bezier(0, 0, 0.31, 1), position 0s .5s;
}

.skills2 > p {
    left: 800px;
    position: relative;
    transition: left .4s ease-out, position 0s .5s;
}

.line {
    background-color: black;
    width: 710px;
    height: 1px;
    transform: rotate(340deg);
    position: absolute;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-cards {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.zuzu {
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.reasons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reasons > div {
    width: 336.17px;
}

.reason {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.reason > p {
    width: 100%;
    max-width: 264.17px;
    position: relative;
}

.reason > p::after {
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    border-bottom: 1px dotted black;
    /* background: black; */
}

.count {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 22px;
    padding: 2px;
    margin: 19px;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 400px) {
    .count {
        width: 20px;
        height: 20px;
        margin: 9px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .reason > p {
        width:  inherit;
        font-size: 11px;
    }
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact > .card {
    box-shadow: 1px 1px 16px #adadad;
    border-bottom: 0px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 18px;
    padding-right: 80px;
    padding-left: 80px;
}

li {
    list-style-type: none;
}

.socials {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.social {
    background-color: #720505;
    height: 100px;
    width: 100px;
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out, width .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out!important;
}

.social:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 2px #5c5c5c;
    transition: all .4s ease-in-out 70ms, width .5s ease-in-out, height .5s ease-in-out;
  }

  .social:hover {
    background-color: #fff; 
  }
  
  .social:hover:after {
    opacity: 1;
    transform: scale(1.1);
    transition-timing-function: cubic-bezier(0.74, 0.74, 0.24, 2.1);
  }
  
  .social:hover a {
    color: #720505;;
  }

.contact-icon {
    color: white;
    transition: none;
}

.fa {
    transition: none;
}

@media only screen and (max-width: 690px) {
    .social {
        height: 70px;
        width: 70px;
        font-size: calc(60px * 0.7);
    }
    .social:after {
        height: 70px;
        width: 70px;
    }
    .contact > .card {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 430px) {
    .social {
        margin: 5px;
        margin-left: 15px;
        margin-right: 15px;
        height: 50px;
        width: 50px;
        font-size: calc(60px * 0.5);
    }
    .social:after {
        height: 50px;
        width: 50px;
    }
    .contact > .card {
        padding-left: 20px;
        padding-right: 20px;
    }
    h1 {
        font-size: 30px;
    }
    section > h1 > span {
        -webkit-text-stroke: 2px #9f0404!important;
    }
    .jumbotron > a > h1 {
        font-size: 18px!important;
        margin-left: 10px;
    }
    .b-dropdown {
        top: 48px!important;
    }

    .description {
        text-align: center;
    }
}

.social > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.email-card {
    display: flex;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-evenly;
}

.email-card > p {
    margin: 0;
}

.gmail {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px!important;
    padding-left: 20px!important;
    padding: 6px;
    background: grey;
    transition: all .2s ease-in-out, width .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out!important;
}

.gmail:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 35px;
    border-radius: 6px;
    opacity: 0;
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
    transition: all .4s ease-in-out 70ms, width .5s ease-in-out, height .5s ease-in-out;
}

.gmail:hover:after {
    opacity: 1;
    transform: scale(1.1);
}

.gmail > a {
    font-size: 20px;
    color: white;
    text-align: center;
}

.gmail:hover {
    background: transparent;
}

.gmail:hover a {
    color: black;
}

.burger {
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 20px;
    border: solid 2px black;
    cursor: pointer;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.burger.open {
    transform: rotateY(90deg);
}

@media only screen and (max-width: 392px) {
    .options {
        margin-left: 10px!important;
        transform: scale(0.7);
        transform-origin: bottom left;
    }
    .burger {
        width: 20px;
        height: 20px;
        border-radius: 11px;
        padding: 7px;
    }
    /*.dropdown {
        transform: translateY(52px) translateX(-80px) scale(0.1)!important;
    }
    .dropdown.open {
        transform: translateY(7px) translateX(-35px) scale(0.7)!important;
    }*/
    .menu-btn {
        transform: scaleY(0.7) scaleX(0.7);
    }

}

.burger > img {
    height: 100%;
    width: 100%;
}

.dropdown {
    background: black;
    position: relative;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    transform: translateY(40px) translateX(-91px) scale(0.1);
    z-index: 15000;
}

.dropdown.open {
    transform: translateY(-25px) translateX(-27px) scale(1);
}

.dropdown > p, .dropdown > .switch {
    margin: 10px;
}

.exit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 25px;
}

.exit-button {
    cursor: pointer;
    height: 20px;
}

.footer {
    height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #99989859;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
}

.options {
    display: flex;
    position: fixed;
    bottom: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    z-index: 1000;
    margin: 36px;
}

@media only screen and (max-width: 1300px) {
    .line {
        width: 476px;
    }
}

@media only screen and (max-width: 740px) {
    .line {
        width: 305px;
        transform: rotate(320deg);
    }
}

.e-form {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.54, 0.34, 0, 1.01);
    max-width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    cursor: no-drop;
}

.e-form.open {
    bottom: -892px!important;
    transform: skew(0deg, 20deg) scaleY(4);;
}

.e-form > form {
    border-radius: 20px;
    background-color: white;
    margin: 61px;
    padding: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px 5px #0000004d;
    justify-content: center;
    cursor: auto;
}

.e-form > form > p {
    margin: 0;
}

input, textarea, select {
    border: none;
    box-shadow: 1px 1px 10px rgb(204, 204, 204);
    border-radius: 10px;
    padding: 11px;
    margin-top: 15px;
}

input:focus, textarea:focus, select:focus {
    box-shadow: none;
    border: solid 1px black;
}

textarea {
    transition: none!important;
    max-height: 200px;
    min-height: 60px;
    max-width: 100vh;
    min-width: 150px;
    resize: none;
}

.popup {
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 15px 5px #0000004d;
    padding: 19px;
    border-radius: 20px;
    text-align: center;
    min-width: 152px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    z-index: 10000;
}

.copy-button {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.copy-button:hover {
    box-shadow: 1px 1px 10px rgb(180, 180, 180);
    transform:scale(1.1);
}

.copy-button > p {
    margin: 0;
    font-weight: 600;
}

.p-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    max-width: 330px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #0000008a;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .5s ease-in-out;
    background: white;
    position: relative;
    transition: transform 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) .28s;
}


.p-card:hover {
    transform: scale(1.15);
}

.p-card:nth-child(1) > img, .p-card:nth-child(3) > img {
    height: 100%;
}

.p-card:nth-child(2) > img {
    width: 100%;
}

.glass-popover {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    backdrop-filter: blur(5px) saturate(200%) opacity(100%);
    border-top-left-radius: 20px;
    overflow: auto;
    transform: scale(0.1);
    transform-origin: right bottom;
    opacity: 0;
}

.p-card:hover .glass-popover {
    opacity: 1;
    transform: scale(1);
}

.glass-popover::before {
    content: '';
    overflow: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.p-button {
    max-width: 70%;
    padding: 6px;
    letter-spacing: 4px;
    text-align: center;
    background: #9f0404;
    margin: 0 auto;
    position: relative;
    transition: all 0.2s ease-in-out, transform .7s ease-in-out!important;
    border-radius: 5px;
    font-weight: 800;
}

.p-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 0 2px #5c5c5c;
    opacity: 0;
    border-radius: 5px;
    transition: all .2s ease-in-out!important;
}

.p-button:hover {
    background: transparent!important;
    color: black;
}

.p-button:hover::after {
    opacity: 1;
    transform: scale(1.1);
}

.glass-popover > a {
    text-decoration: none;
    color: white;
}

.p-button:hover a {
    color: #9f0404;
}

.p-name {
    margin-top: 0;
    text-align: center;
}

.p-description {
    z-index: 10000;
    -webkit-text-stroke: 0.5px black;
    -webkit-text-fill-color: white;
}

.fa {
    cursor: pointer;
}

.exit-b, .exit-button {
    font-size: 18px!important;
    transition: all .2s ease-in-out;
}

.exit-button > a {
    color: black;
}

.b-exit > a, .exit-button > a {
    transition: color .4s cubic-bezier(0.1, 0.98, 0.77, 0.96)!important;
}

.exit-b {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-content: center;
    align-items: center;
    margin: 6px;
}

.exit-b:hover, .exit-but on:hover {
    background-color: red;
    width: 25px;
    height: 25px;
    margin: 0;
}

.b-exit-:hover a, .exit-button:hover a {
     color: white;
}

h1 > .theme {
    -webkit-text-stroke: 1.5px black;
}

h1 >.theme:nth-child(1), .theme {
    -webkit-text-stroke: 1.5px #9f0404;
    -webkit-text-fill-color: transparent;
}

section > h1 > span {
    -webkit-text-stroke: 2.5px black!important;
}

.jumbotron > h1 {
    margin: 0;
}