* {
    font-family: 'Roboto Condensed', sans-serif;
    transition: all .5s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    margin-top: 61px;
}

section {
    scroll-margin-top: 3rem;
    margin-top: 40px;
}

h1 {
    font-size: 49px;
    letter-spacing: 2px;
    text-align: center;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #8080805e;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 10000;
}

.jumbotron > a > h1 {
    font-size: 26px;
    letter-spacing: 2px;
    margin: 0;
    margin-left: 10px;
}

.name {
    text-decoration: none;
    color: black;
    text-decoration: none;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    color: black;
}

.j-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 1;
    visibility: visible;
    transition: none;
}

.j-buttons > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.j-button {
    width: 52px;
    margin: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.j-button:hover {
    letter-spacing: 0.7px;
    -webkit-text-stroke: 0.5px black;
    -webkit-text-fill-color: transparent;
    transform: scale(1.08);
}

.jumbotron > h1, .j-buttons {
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper {
    margin: 41px;
    margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
    .wrapper {
        margin: 20px;
        margin-bottom: 0;
    }
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picture-card {
    width: 100%;
    max-width: 310px;
    height: 395px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.picture-card > img {
    height: 100%;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills > .s-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillz {
    
height: 100%;
    
width: 100%;

display: flex;
    
align-items: center;
    
justify-content: space-evenly;
}

.skills1 {
    position: relative;
    top: -36px;
    /* left: -76px; */
}

.skills2 {
    text-align: end;
    position: relative;
    /* right: -87px; */
    bottom: -37px;
}

.line {
    background-color: black;
    width: 710px;
    height: 1px;
    transform: rotate(340deg);
    position: absolute;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-cards {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.zuzu {
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reasons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reasons > div {
    width: 336.17px;
}

.reason {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.reason > p {
    width: 100%;
    max-width: 264.17px;
}

.reason > p::after {
    content: '';
    width: 100%;
    height: 7px;
    display: block;
    border-bottom: 1px dotted black;
    /* background: black; */
}

.count {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 22px;
    padding: 2px;
    margin: 19px;
    background-color: black;
    color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact > .card {
    border: 1px solid black;
    border-bottom: 0px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 18px;
    padding-right: 80px;
    padding-left: 80px;
}

.socialss {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.social {
    height: 100px;
    margin: 20px;
}

.social:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 690px) {
    .social {
        height: 70px;
    }
    .contact > .card {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 430px) {
    .social {
        margin: 5px;
        height: 50px;
    }
    .contact > .card {
        padding-left: 20px;
        padding-right: 20px;
    }
    h1 {
        font-size: 30px;
    }
    .jumbotron > a > h1 {
        font-size: 18px!important;
        margin-left: 5px;
    }
}

.social > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.email-card {
    display: flex;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 13px darkgrey;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-evenly;
}

.email-card > p {
    margin: 0;
}

.gmail {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding-right: 7px!important;
    padding-left: 7px!important;
    padding: 2px;
}

.gmail:hover {
    box-shadow: 1px 1px 10px rgb(180, 180, 180);
    transform:scale(1.1);
    letter-spacing: 2px;
}

.burger {
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 20px;
    border: solid 2px black;
    cursor: pointer;
    padding: 10px;
    margin: 36px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.burger.open {
    transform: rotateY(90deg);
}

@media only screen and (max-width: 392px) {
    .burger {
        margin-left: 10px;
    }
    .reason {
        justify-content: center;
        text-align: center;
    }
}

.burger > img {
    height: 100%;
    width: 100%;
}

.dropdown {
    background: black;
    position: fixed;
    left: 57px;
    bottom: 39px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    transform: translateY(40px) translateX(-5px) scale(0.1);
}

.dropdown.open {
    transform: translateY(0px) translateX(0px) scale(1);
}

.dropdown > p, .dropdown > .switch {
    margin: 10px;
}

.exit {
    width: 100%;
    text-align: end;
}

.exit-button {
    cursor: pointer;
    height: 20px;
}

.footer {
    height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #99989859;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
}

.options {
    display: flex;
    position: fixed;
    height: 100%;
    /* width: 100%; */
    top: 0px;
    align-items: flex-end;
    /* visibility: hidden; */
    justify-content: flex-start;
}

@media only screen and (max-width: 1300px) {
    .line {
        width: 476px;
    }
}

@media only screen and (max-width: 740px) {
    .line {
        width: 305px;
        transform: rotate(320deg);
    }
}

.e-form {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    bottom: 170px;
    transition: all 0.7s ease-in-out;
    max-width: 100%;
}

.e-form.open {
    bottom: -469px!important;
}

.e-form > form {
    border-radius: 20px;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 61px;
    padding: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px 5px #0000004d;
    justify-content: center;
}

.e-form > form > p {
    margin: 0;
}

input, textarea, select {
    border: none;
    box-shadow: 1px 1px 10px rgb(204, 204, 204);
    border-radius: 10px;
    padding: 11px;
}

input:focus, textarea:focus, select:focus {
    box-shadow: none;
    border: solid 1px black;
}

textarea {
    transition: none!important;
    max-height: 200px;
    min-height: 60px;
    max-width: 100vh;
    min-width: 150px;
}

.popup {
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 15px 5px #0000004d;
    padding: 19px;
    border-radius: 20px;
    text-align: center;
    min-width: 152px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    z-index: 10000;
}

.copy-button {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.copy-button:hover {
    box-shadow: 1px 1px 10px rgb(180, 180, 180);
    transform:scale(1.1);
}

.copy-button > p {
    margin: 0;
}

.icefield, .escape, .zuzu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    max-width: 330px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #0000008a;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .5s ease-in-out;
    background: white;
}

.icefield:hover, .escape:hover, .zuzu:hover {
    transform: scale(1.2);
}

.escape > img, .zuzu > img {
    height: 100%;
}

.icefield > img {
    width: 100%;
}

